:root{
 --WhiteColor: hsl(0, 0%, 100%);

--lightGray: hsl(212, 45%, 89%);
--grayisBlue: hsl(220, 15%, 55%);
--darkBlue: hsl(218, 44%, 22%);
}

*,
*::after 
*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background-color: var(--lightGray);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  margin-bottom: 40px;
}

p{
  font-weight: 400;
  margin-bottom: 15px;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card{
  background-color: var(--WhiteColor);
  padding: 18px;
  border-radius: 15px;
  width: 320px;
}

.card-body{
  padding: 20px 15px ;
  text-align: center;
}
.card-body h4{
  color: var(--darkBlue);
  font-size: 22px;
}
.card-body p{
  color: var(--grayisBlue);
  font-size: 15px;
}
